In [9]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
data = pd.read_csv("customer_acquisition_data.csv")
data

     customer_id           channel       cost  conversion_rate  revenue
0              1          referral   8.320327         0.123145     4199
1              2  paid advertising  30.450327         0.016341     3410
2              3   email marketing   5.246263         0.043822     3164
3              4      social media   9.546326         0.167592     1520
4              5          referral   8.320327         0.123145     2419
..           ...               ...        ...              ...      ...
795          796      social media   9.546326         0.167592     2813
796          797   email marketing   5.246263         0.043822     3439
797          798      social media   9.546326         0.167592     2101
798          799  paid advertising  30.450327         0.016341      813
799          800   email marketing   5.246263         0.043822     4820

[800 rows x 5 columns]

# Data Exploration

## a) OverView

### 1. General Overview

This step involves checking the number of rows and columns, data types, and a few sample entries.

In [3]:
# Check the structure of the DataFrame
print("DataFrame Info:")
data.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      800 non-null    int64
 1   channel          800 non-null    object
 2   cost             800 non-null    float64
 3   conversion_rate  800 non-null    float64
 4   revenue          800 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 31.4+ KB

In [10]:
# Check the number of rows and columns
print(f"\nNumber of Rows: {data.shape[0]}")
print(f"Number of Columns: {data.shape[1]}")

Number of Rows: 800
Number of Columns: 5

In [11]:
# Display the first 5 rows of the DataFrame
print("\nSample Entries:")
data.head()

Sample Entries:

   customer_id           channel       cost  conversion_rate  revenue
0            1          referral   8.320327         0.123145     4199
1            2  paid advertising  30.450327         0.016341     3410
2            3   email marketing   5.246263         0.043822     3164
3            4      social media   9.546326         0.167592     1520
4            5          referral   8.320327         0.123145     2419

# Missing Values

In [6]:
# Check for missing values
print("\nMissing Values:")
missing_values = data.isnull().sum()
print(missing_values)

Missing Values:
customer_id        0
channel            0
cost               0
conversion_rate    0
revenue            0
dtype: int64

In [7]:
# Percentage of missing values per column (if needed)
missing_percentage = (missing_values / data.shape[0]) * 100
print("\nPercentage of Missing Values:")
print(missing_percentage)

Percentage of Missing Values:
customer_id        0.0
channel            0.0
cost               0.0
conversion_rate    0.0
revenue            0.0
dtype: float64

### 3. Duplicate Entries

In [8]:
# Describe numerical columns to identify potential outliers
print("\nStatistical Summary:")
summary = data.describe()
print(summary)

Statistical Summary:
       customer_id        cost  conversion_rate      revenue
count     800.0000  800.000000       800.000000   800.000000
mean      400.5000   13.148052         0.086305  2769.151250
std       231.0844    9.922337         0.059611  1259.543706
min         1.0000    5.246263         0.016341   500.000000
25%       200.7500    5.246263         0.043822  1694.000000
50%       400.5000    8.320327         0.043822  2764.000000
75%       600.2500    9.546326         0.123145  3824.250000
max       800.0000   30.450327         0.167592  4998.000000