# Creating A Data Fram --> Barics of Creating a Table

## Creating a list -> Creating a table with the help list

To create a list we don't have to import Pandas

In [57]:
# Creating a list only
car_data = [
    ["Jeep Compass 2.0 Longitude Option BSIV","10.03 Lakh","86,226 kms","Diesel","Manual","1st Owner","January 15,2017","1956 cc","5 Seats"],
    ["Renault Duster RXZ Turbo CVT"," "," ","Petrol","Automatic","1st Owner","January 15,2018","1330 cc", "5 Seats"] 
]

In [58]:
car_data

[['Jeep Compass 2.0 Longitude Option BSIV',
  '10.03 Lakh',
  '86,226 kms',
  'Diesel',
  'Manual',
  '1st Owner',
  'January 15,2017',
  '1956 cc',
  '5 Seats'],
 ['Renault Duster RXZ Turbo CVT',
  ' ',
  ' ',
  'Petrol',
  'Automatic',
  '1st Owner',
  'January 15,2018',
  '1330 cc',
  '5 Seats']]

In [59]:
# For Showing this as a datafram i have to import Pandas  : ->
import pandas as pd

In [60]:
#let's put this car_data set into a Data Frame
df = pd.DataFrame(car_data)

In [61]:
df

,0,1,2,3,4,5,6,7,8
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,,,Petrol,Automatic,1st Owner,"January 15,2018",1330 cc,5 Seats

In [62]:
# For setting the Column Name :->
df = pd.DataFrame(car_data, columns=['car_name', 'car_prices_in_rupee', 'kms_driven', 'fuel_type','transmission','ownership','manufacture',
                                     'engine','Seats'])

In [63]:
df

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,,,Petrol,Automatic,1st Owner,"January 15,2018",1330 cc,5 Seats

--------------------------------------->>>It's a huge Hassel to Create Table with the help of list <<<<<<<<<<<------------------------------------------

## Creating a Dictionary -> Creating table with the help of Dictionary

With the Dictionary we can create this table so so easily

In [64]:
# Creating a Dictionary only
data = {
    "car_name":["Jeep Compass 2.0 Longitude Option BSIV",
        "Renault Duster RXZ Turbo CVT"],
   "car_prices_in_rupee": ["10.03 Lakh", " "],
   "kms_driven": ["86,226 kms", " ",],
   "fuel_type": ["Diesel", "Petrol"],
   "transmission": ["Manual", "Automatic"],
    "ownership": ["1st Owner", "1st Owner"],
    "manufacture":["January 15,2017",
        "January 15,2018"],
   "engine": ["1956 cc", "1330 cc"],
    "Seats":["5 Seats", "5 Seats"]
}

In [65]:
data

{'car_name': ['Jeep Compass 2.0 Longitude Option BSIV',
  'Renault Duster RXZ Turbo CVT'],
 'car_prices_in_rupee': ['10.03 Lakh', ' '],
 'kms_driven': ['86,226 kms', ' '],
 'fuel_type': ['Diesel', 'Petrol'],
 'transmission': ['Manual', 'Automatic'],
 'ownership': ['1st Owner', '1st Owner'],
 'manufacture': ['January 15,2017', 'January 15,2018'],
 'engine': ['1956 cc', '1330 cc'],
 'Seats': ['5 Seats', '5 Seats']}

In [66]:
# Converting this Dictionary into a Data frame
import pandas as pd

In [67]:
# Create DataFrame
df = pd.DataFrame(data)

In [68]:
data

{'car_name': ['Jeep Compass 2.0 Longitude Option BSIV',
  'Renault Duster RXZ Turbo CVT'],
 'car_prices_in_rupee': ['10.03 Lakh', ' '],
 'kms_driven': ['86,226 kms', ' '],
 'fuel_type': ['Diesel', 'Petrol'],
 'transmission': ['Manual', 'Automatic'],
 'ownership': ['1st Owner', '1st Owner'],
 'manufacture': ['January 15,2017', 'January 15,2018'],
 'engine': ['1956 cc', '1330 cc'],
 'Seats': ['5 Seats', '5 Seats']}

In [69]:
# Display the DataFrame
print(df)

                                 car_name car_prices_in_rupee  kms_driven  \
0  Jeep Compass 2.0 Longitude Option BSIV          10.03 Lakh  86,226 kms
1            Renault Duster RXZ Turbo CVT

  fuel_type transmission  ownership      manufacture   engine    Seats
0    Diesel       Manual  1st Owner  January 15,2017  1956 cc  5 Seats
1    Petrol    Automatic  1st Owner  January 15,2018  1330 cc  5 Seats

In [70]:
df

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,,,Petrol,Automatic,1st Owner,"January 15,2018",1330 cc,5 Seats

-------------------------------------------> So i will use Dictionary for making a Data Frame<<<---------------------------------------------------

# Data Cleaning Process A to Z

In [71]:
import pandas as pd

In [72]:
dataset = pd.read_csv('Car_Price_MyOwn_Data.csv')

In [73]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,NaN,"13,248 kms",Petrol,Automatic,1st Owner,"January 15,2018",1330 cc,5 Seats
2,Toyota Camry 2.5 G,16.4,"60,343 kms",Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats
3,Honda Jazz VX CVT,16.40 Crore,"26,696 kms",Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats
4,Mahindra XUV300 W6,"35,000","65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats
5,Mahindra XUV300 W6,"35,000","65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats

## Always I will work with a single Row

In [74]:
dataset.head(1)

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats

## General OverVeiw

This step involves checking the
 ->number of rows and columns, 
->data types, ->and a few sample entries.

### To see the overall Data

In [76]:
dataset.shape

(6, 9)

In [77]:
# In more Detail to See the Datasets
# Check the number of rows and columns
print(f"\nNumber of Rows: {dataset.shape[0]}")
print(f"Number of Columns: {dataset.shape[1]}")

Number of Rows: 6
Number of Columns: 9

### To see the only Rows

In [78]:
dataset.shape[0]

6

### To See the DataType

In [79]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             6 non-null      object
 1   car_prices_in_rupee  5 non-null      object
 2   kms_driven           6 non-null      object
 3   fuel_type            6 non-null      object
 4   transmission         6 non-null      object
 5   ownership            6 non-null      object
 6   manufacture          6 non-null      object
 7   engine               6 non-null      object
 8   Seats                6 non-null      object
dtypes: object(9)
memory usage: 564.0+ bytes

In [80]:
# To show this , in better version 
# Check the structure of the DataFrame
print("DataFrame Info:")
dataset.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             6 non-null      object
 1   car_prices_in_rupee  5 non-null      object
 2   kms_driven           6 non-null      object
 3   fuel_type            6 non-null      object
 4   transmission         6 non-null      object
 5   ownership            6 non-null      object
 6   manufacture          6 non-null      object
 7   engine               6 non-null      object
 8   Seats                6 non-null      object
dtypes: object(9)
memory usage: 564.0+ bytes

# Missing Content

### 1st work is to remove the missing content or place some data in the missing content

In [81]:
#True means --> missing Content 
# False means --> not missing content
dataset.isnull()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False

In [82]:
# sum() er folee jar joto missing content aceh , sheta jante parbo !!
dataset.isnull().sum()

car_name               0
car_prices_in_rupee    1
kms_driven             0
fuel_type              0
transmission           0
ownership              0
manufacture            0
engine                 0
Seats                  0
dtype: int64

In [83]:
# To see this , a better version 

print("\nMissing Values:")
missing_values = dataset.isnull().sum()
print(missing_values)

Missing Values:
car_name               0
car_prices_in_rupee    1
kms_driven             0
fuel_type              0
transmission           0
ownership              0
manufacture            0
engine                 0
Seats                  0
dtype: int64

### For good observation , we have to find this in Percentage form

In [84]:
# To find the Percentage of Missing content 
(dataset.isnull().sum()/dataset.shape[0])*100

car_name                0.000000
car_prices_in_rupee    16.666667
kms_driven              0.000000
fuel_type               0.000000
transmission            0.000000
ownership               0.000000
manufacture             0.000000
engine                  0.000000
Seats                   0.000000
dtype: float64

### To remove the missing Data

In [85]:
#permenetly removed the missing content 
dataset.dropna(inplace=True)

In [86]:
#To see the NaN is permanently is deleted or not !!
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
2,Toyota Camry 2.5 G,16.4,"60,343 kms",Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats
3,Honda Jazz VX CVT,16.40 Crore,"26,696 kms",Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats
4,Mahindra XUV300 W6,"35,000","65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats
5,Mahindra XUV300 W6,"35,000","65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats

# For Duplicate Values

In [87]:
# Check for duplicate rows
print("\nDuplicate Entries:")
duplicates = dataset.duplicated().sum()
print(f"Number of Duplicate Rows: {duplicates}")

# If duplicates are found, you can remove them
if duplicates > 0:
    dataset = dataset.drop_duplicates()
    print(f"\nDuplicates Removed. New Number of Rows: {dataset.shape[0]}")

Duplicate Entries:
Number of Duplicate Rows: 1

Duplicates Removed. New Number of Rows: 4

In [88]:
#To see the Datasets
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
2,Toyota Camry 2.5 G,16.4,"60,343 kms",Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats
3,Honda Jazz VX CVT,16.40 Crore,"26,696 kms",Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats
4,Mahindra XUV300 W6,"35,000","65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats

In [89]:
# Describe numerical columns to identify potential outliers
print("\nStatistical Summary:")
summary = dataset.describe()
print(summary)

Statistical Summary:
                                      car_name car_prices_in_rupee  \
count                                        4                   4
unique                                       4                   4
top     Jeep Compass 2.0 Longitude Option BSIV          10.03 Lakh
freq                                         1                   1

        kms_driven fuel_type transmission  ownership      manufacture  \
count            4         4            4          4                4
unique           4         2            2          2                4
top     86,226 kms    Diesel    Automatic  1st Owner  January 15,2017
freq             1         2            3          3                1

         engine    Seats
count         4        4
unique        4        2
top     1956 cc  5 Seats
freq          1        3

# One By One Column Obeservtion

In [90]:
dataset['car_name']

0    Jeep Compass 2.0 Longitude Option BSIV
2                        Toyota Camry 2.5 G
3                         Honda Jazz VX CVT
4                        Mahindra XUV300 W6
Name: car_name, dtype: object

------------------------------------->>>>To separate carName and Company Name <<<<<<<-----------------------------------

In [91]:
# WE Will work on a Data only , then entire Data
dataset['car_name'][0]

'Jeep Compass 2.0 Longitude Option BSIV'

In [92]:
# I will use Slicing to separate the Car name and Company Name 
x=dataset['car_name'][0]
x[:x.index(" ")] # For Specific Data, so entire Data I will have to create the customize function

'Jeep'

In [93]:
# To Create the customize function --> for the company_name
def company_name(x):
    return x[:x.index(" ")]

In [94]:
dataset["car_name"].apply(company_name)

0        Jeep
2      Toyota
3       Honda
4    Mahindra
Name: car_name, dtype: object

In [95]:
# TO add this in the Main Dataset we will do is .......
dataset["company_name"]=dataset["car_name"].apply(company_name)

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\1984364988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["company_name"]=dataset["car_name"].apply(company_name)

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.


How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "company_name"] = dataset["car_name"].apply(company_name)

In [96]:
# Here is the error is solved
dataset.loc[:, "company_name"] = dataset["car_name"].apply(company_name)

In [97]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats,Jeep
2,Toyota Camry 2.5 G,16.4,"60,343 kms",Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats,Toyota
3,Honda Jazz VX CVT,16.40 Crore,"26,696 kms",Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats,Honda
4,Mahindra XUV300 W6,"35,000","65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats,Mahindra

In [98]:
# To Create the customize function --> for the car_name
def car_name(x):
    return x[x.index(" ")+1:]

In [99]:
dataset["car_name"].apply(car_name)

0    Compass 2.0 Longitude Option BSIV
2                          Camry 2.5 G
3                          Jazz VX CVT
4                            XUV300 W6
Name: car_name, dtype: object

In [100]:
dataset["car_name"]=dataset["car_name"].apply(car_name)

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\2769808641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["car_name"]=dataset["car_name"].apply(car_name)

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "car_name"] = dataset["car_name"].apply(car_name)

In [101]:
# here is the error is solved
dataset.loc[:, "car_name"] = dataset["car_name"].apply(car_name)

In [102]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats,Jeep
2,2.5 G,16.4,"60,343 kms",Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats,Toyota
3,VX CVT,16.40 Crore,"26,696 kms",Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats,Honda
4,W6,"35,000","65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats,Mahindra

### Car_Price_in_Rupee

In [103]:
dataset["car_prices_in_rupee"]

0     10.03 Lakh
2           16.4
3    16.40 Crore
4         35,000
Name: car_prices_in_rupee, dtype: object

35,000, 10.03 Lakh, 16.40 Crore
-->In pandas Under a number comma is not supported 
--> Lakh has to remove 
--> Crore has to remove too

                 ---------------------->>> Concept of removing Something Form the Date <<<<<<<<<<<<<<<<----------------------------------

'''
# Remove the coma first ---> using [str] and [replace]   ==> like 35,000
dataset["car_prices_in_rupee"] = dataset["car_prices_in_rupee"].str.replace(",","") 

output: 
 35000

1956 cc

#To remove this CC
# Remove the sapce with cc first --> using [str] and [replace]
dataset["engine"] = dataset["engine"].str.replace(" cc","")

Output: 
 1956

January 15,2017

#To Remove the coma first ---> using [str] and [replace]
dataset["manufacture"] = dataset["manufacture"].str.replace(","," ,")

Output : 
 2017-01-15

 '''

In [104]:
# Remove the coma first ---> using [str] and [replace]   ==> like 35,000
dataset["car_prices_in_rupee"] = dataset["car_prices_in_rupee"].str.replace(",","")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\1404091914.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["car_prices_in_rupee"] = dataset["car_prices_in_rupee"].str.replace(",","")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "car_prices_in_rupee"] = dataset["car_prices_in_rupee"].replace(",","")

In [105]:
# Remove the coma first ---> using [str] and [replace]   ==> like 35,000
dataset.loc[:,"car_prices_in_rupee"] = dataset["car_prices_in_rupee"].str.replace(",","")

In [106]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats,Jeep
2,2.5 G,16.4,"60,343 kms",Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats,Toyota
3,VX CVT,16.40 Crore,"26,696 kms",Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats,Honda
4,W6,35000,"65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats,Mahindra

In [107]:
# 16.40 crore --> 16.40* 100000000
16.40* 100000000

# ["16.40", "Crore"] ekhane 0 index = 16.40-->p[0]   And Crore hocce = 1 index -->p[1]
# ["10.03", "Lakh"] ekhane 0 index = 10.03-->p[0]  And Lakh hocce = 1 index -->p[1]

1639999999.9999998

In [108]:
# The steps that i am going to do is--> Step: 1
l= "10.03 Lakh"
a = l.split(" ")
a # Now I will find the Data in the list

['10.03', 'Lakh']

In [109]:
# Working with 28.90 or index = zero --> step: 2
l= "10.03 Lakh"
a = l.split(" ")
a[0]

'10.03'

In [110]:
# Now I Will Multiply this value 28.9 by 100000 -> so that I find the Number in thousands --> step: 4
l= "10.03 Lakh"
a = l.split(" ")
float(a[0])*100000

1002999.9999999999

In [111]:
# If any round value, to reduce that mistake we will use the Round function --> step: 5
#Such that round(3.14159, 2) rounds the number to two decimal places, resulting in 3.14.
l= "10.03 Lakh"
a = l.split(" ")
round(float(a[0])*100000,1)

1003000.0

                                       -->>>>>>># Step: 1 To Step: 5 in Coding style #<<<<--------------

In [112]:
# To Create this Function And -> pura process jeta hocce sheta String Format e convert kore again insert korteci 

#try and except: Handles unexpected errors (like missing or malformed input) and prevents your program from crashing.
#else: Provides an alternative path if none of the if or elif conditions are met, but it does not handle errors.


def rupe_change(x):
    p = x.split(" ")
    try:
        if p[1] == "Lakh":
            return str(round(float(p[0]) * 100000, 1))
        elif p[1] == "Crore":
            return str(round(float(p[0]) * 10000000, 1))
    except:
        return x

In [113]:
dataset["car_prices_in_rupee"].apply(rupe_change)

0      1003000.0
2           16.4
3    164000000.0
4          35000
Name: car_prices_in_rupee, dtype: object

In [114]:
# To check the conversion type
dataset["car_prices_in_rupee"] =dataset["car_prices_in_rupee"].apply(rupe_change)

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\1316675269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["car_prices_in_rupee"] =dataset["car_prices_in_rupee"].apply(rupe_change)

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "car_name"] = dataset["car_name"].apply(car_name)

In [115]:
# To check the conversion type
dataset.loc[:,"car_prices_in_rupee"] =dataset["car_prices_in_rupee"].apply(rupe_change)

In [116]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             4 non-null      object
 1   car_prices_in_rupee  4 non-null      object
 2   kms_driven           4 non-null      object
 3   fuel_type            4 non-null      object
 4   transmission         4 non-null      object
 5   ownership            4 non-null      object
 6   manufacture          4 non-null      object
 7   engine               4 non-null      object
 8   Seats                4 non-null      object
 9   company_name         4 non-null      object
dtypes: object(10)
memory usage: 524.0+ bytes

In [117]:
# In the above section I see, the car_price_in_rupee is still in Object Form  
# So let's Convert this into float Value 

dataset["car_prices_in_rupee"].astype("float") # Now it is converted into floating Value

0      1003000.0
2           16.4
3    164000000.0
4        35000.0
Name: car_prices_in_rupee, dtype: float64

In [118]:
#Now loading this into the Dataset
dataset["car_prices_in_rupee"]=dataset["car_prices_in_rupee"].astype("float64") # Now it is converted into floating Value

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\3851568327.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["car_prices_in_rupee"]=dataset["car_prices_in_rupee"].astype("float64") # Now it is converted into floating Value

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "car_prices_in_rupee"] = dataset["car_prices_in_rupee"].astype("float64")

In [119]:
#here is solved the error 
dataset.loc[:, "car_prices_in_rupee"] = dataset["car_prices_in_rupee"].astype("float64")

In [120]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,2.0 Longitude Option BSIV,1003000.0,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats,Jeep
2,2.5 G,16.4,"60,343 kms",Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats,Toyota
3,VX CVT,164000000.0,"26,696 kms",Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats,Honda
4,W6,35000.0,"65,000 kms",Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats,Mahindra

### Kms_driveen

In [121]:
# I Have to remove the coma here and Kms As well , simplify problem only 
dataset["kms_driven"]

0    86,226 kms
2    60,343 kms
3    26,696 kms
4    65,000 kms
Name: kms_driven, dtype: object

In [122]:
# Remove the coma first ---> using [str] and [replace]
dataset["kms_driven"] = dataset["kms_driven"].str.replace(",","")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\651834355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["kms_driven"] = dataset["kms_driven"].str.replace(",","")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "kms_driven"] = dataset["kms_driven"].str.replace(",","")

In [123]:
# here is the error is solved
dataset.loc[:, "kms_driven"] = dataset["kms_driven"].str.replace(",","")

In [124]:
# Remove the sapce with kms first --> using [str] and [replace]
dataset["kms_driven"] = dataset["kms_driven"].str.replace(" kms","")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\358403156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["kms_driven"] = dataset["kms_driven"].str.replace(" kms","")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "kms_driven"] = dataset["kms_driven"].str.replace(" kms","")

In [125]:
# here is the error is solved
dataset.loc[:, "kms_driven"] = dataset["kms_driven"].str.replace(" kms","")

In [126]:
dataset['kms_driven'] # But it is Object from Data or String type Data

0    86226
2    60343
3    26696
4    65000
Name: kms_driven, dtype: object

In [127]:
# Dat convert this object form to Integer Type Data
dataset['kms_driven'].astype("int64")

0    86226
2    60343
3    26696
4    65000
Name: kms_driven, dtype: int64

In [128]:
#Now loading this into the Dataset
dataset["kms_driven"]=dataset['kms_driven'].astype("int64")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\3812278928.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["kms_driven"]=dataset['kms_driven'].astype("int64")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "kms_driven"] = dataset["kms_driven"].astype("int64")

In [129]:
#Here is the solved of this error 
dataset.loc[:, "kms_driven"] = dataset["kms_driven"].astype("int64")

In [130]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats,Jeep
2,2.5 G,16.4,60343,Petrol,Automatic,1st Owner,"January 15,2019",2494 cc,5 Seats,Toyota
3,VX CVT,164000000.0,26696,Petrol,Automatic,1st Owner,"March 15,2020",1199 cc,5 Seats,Honda
4,W6,35000.0,65000,Diesel,Automatic,2nd Owner,"January 15,2020",2000 cc,2 Seats,Mahindra

### Fuel_Type

I will keep this  as it is .......

### Transmissoin

I will keep this as it is........

### Ownership

I will keep this as it  but i will have to encode this in 1st order , 2nd order ..But will do it next time ...

### Engine

In [132]:
# i have to remove the cc 
dataset["engine"]

0    1956 cc
2    2494 cc
3    1199 cc
4    2000 cc
Name: engine, dtype: object

In [133]:
# Remove the sapce with cc first --> using [str] and [replace]
dataset["engine"] = dataset["engine"].str.replace(" cc","")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\1946167548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["engine"] = dataset["engine"].str.replace(" cc","")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "engine"] = dataset["engine"].str.replace(" cc","")

In [134]:
# Here is the solved of this error 
dataset.loc[:, "engine"] = dataset["engine"].str.replace(" cc","")

In [135]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,"January 15,2017",1956,5 Seats,Jeep
2,2.5 G,16.4,60343,Petrol,Automatic,1st Owner,"January 15,2019",2494,5 Seats,Toyota
3,VX CVT,164000000.0,26696,Petrol,Automatic,1st Owner,"March 15,2020",1199,5 Seats,Honda
4,W6,35000.0,65000,Diesel,Automatic,2nd Owner,"January 15,2020",2000,2 Seats,Mahindra

### Seats

In [136]:
# I have to remove the seats here 
dataset["Seats"]

0    5 Seats
2    5 Seats
3    5 Seats
4    2 Seats
Name: Seats, dtype: object

In [137]:
# Remove the sapce with Seats first --> using [str] and [replace]
dataset["Seats"] = dataset["Seats"].str.replace(" Seats","")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\2509635251.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Seats"] = dataset["Seats"].str.replace(" Seats","")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "Seats"] = dataset["Seats"].str.replace(" Seats","")

In [139]:
# Here is the Solved of this error 
dataset.loc[:, "Seats"] = dataset["Seats"].str.replace(" Seats","")

In [140]:
# Dat convert this object form to Integer Type Data
dataset["Seats"]=dataset['Seats'].astype("int64")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\3248931806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Seats"]=dataset['Seats'].astype("int64")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "Seats"] = dataset["Seats"].astype("int64")

In [141]:
# here is the solved of this error 
dataset.loc[:, "Seats"] = dataset["Seats"].astype("int64")

In [142]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,"January 15,2017",1956,5,Jeep
2,2.5 G,16.4,60343,Petrol,Automatic,1st Owner,"January 15,2019",2494,5,Toyota
3,VX CVT,164000000.0,26696,Petrol,Automatic,1st Owner,"March 15,2020",1199,5,Honda
4,W6,35000.0,65000,Diesel,Automatic,2nd Owner,"January 15,2020",2000,2,Mahindra

### Manufacturing Date

In [143]:
dataset["manufacture"]

0    January 15,2017
2    January 15,2019
3      March 15,2020
4    January 15,2020
Name: manufacture, dtype: object

what i have to do is , convert this into the proper Date form

In [144]:
# Remove the coma first ---> using [str] and [replace]
dataset["manufacture"] = dataset["manufacture"].str.replace(",",", ")

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\297156618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["manufacture"] = dataset["manufacture"].str.replace(",",", ")

The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.

How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "manufacture"] = dataset["manufacture"].str.replace(",",", ")

In [145]:
# Here is the solved of this error 
dataset.loc[:, "manufacture"] = dataset["manufacture"].str.replace(",",", ")

In [146]:
pd.to_datetime(dataset['manufacture'])

0   2017-01-15
2   2019-01-15
3   2020-03-15
4   2020-01-15
Name: manufacture, dtype: datetime64[ns]

In [147]:
dataset["manufacture"]=pd.to_datetime(dataset['manufacture'])

C:\Users\hirak\AppData\Local\Temp\ipykernel_20060\4068019883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["manufacture"]=pd.to_datetime(dataset['manufacture'])

In [ ]:
The above eror is ocured bczzz...

->The warning you're encountering, SettingWithCopyWarning, occurs in pandas when you try to modify a subset of a DataFrame that was 
created by filtering or slicing.This warning is raised to alert you that the operation might not affect the original DataFrame but rather a copy,
leading to unexpected behavior.


How to Fix It==>>
To ensure that you're modifying the original DataFrame and avoid the warning,
use .loc[] to explicitly specify the part of the DataFrame you want to modify:

dataset.loc[:, "manufacture"] = pd.to_datetime(dataset['manufacture'])

In [149]:
# here is the solved of this error 
dataset.loc[:, "manufacture"] = pd.to_datetime(dataset['manufacture'])

In [150]:
dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,company_name
0,2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,2017-01-15,1956,5,Jeep
2,2.5 G,16.4,60343,Petrol,Automatic,1st Owner,2019-01-15,2494,5,Toyota
3,VX CVT,164000000.0,26696,Petrol,Automatic,1st Owner,2020-03-15,1199,5,Honda
4,W6,35000.0,65000,Diesel,Automatic,2nd Owner,2020-01-15,2000,2,Mahindra

# --->>>Now this full Data Set is Ready for The data Analytics<<<-----

#         -->> The End <<---                                              -->> The End <<---

### Now way to Save the DataFram in CSE File to my Decstop

In [151]:
dataset.to_csv(r'F:\Python with Data Analytics\Data Clean Own Project\ClEanedData.csv')